<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>Moip Backend</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="#/">CHECKOUT MOIP</a>
	        </div>
	    </div>
	</nav>
</div>

<div style="margin-top: 105px;">

	<div class="section">

	<div class="container">
	
		
		<div class="row well">
	    
	    	<div class="col-lg-8 col-md-8">
                <h3><i class="fa fa-check-circle"></i> Checkout Moip</h3>
            </div>
            
            <div class="col-lg-8 col-md-8">
                <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#identificacao" aria-controls="home" role="tab" data-toggle="tab">Identificação</a></li>
				    <li role="presentation"><a href="#pagamento" aria-controls="pagamento" role="tab" data-toggle="tab">Pagamento</a></li>
				    <li role="presentation"><a href="#confirmacao" aria-controls="confirmacao" role="tab" data-toggle="tab">Confirmação</a></li>
				  </ul>
            </div>
	    
	    	<div class="row well"></div>
	    
	    	<div class="col-lg-8 col-md-8">
				<form action="#" th:action="@{/CheckoutController/processForm}" th:object="${checkoutForm}" method="post" data-toggle="validator" id="fmCheckoutMoip" name="fmCheckoutMoip">
					<div class="tab-content">
					    
					    <div role="tabpanel" class="tab-pane active" id="identificacao">
					    	  <input type="hidden" name="urlRetorno" th:value="${checkoutForm.urlRetorno}">
						      <input type="hidden" name="idCliente" th:value="${checkoutForm.idCliente}">
						      <input type="hidden" name="paymentOptionId" id="paymentOptionId" th:value="${checkoutForm.paymentOptionId}">
							  <div class="form-group">
							    <label for="nomeBuyer">Nome Completo:</label>
							    <input type="text" class="form-control" id="nomeBuyer" name="nomeBuyer" placeholder="Nome Completo" th:value="${checkoutForm.nomeBuyer}" required>
							  </div>
							  <div class="form-group">
							    <label for="emailBuyer">Email:</label>
							    <input type="email" class="form-control" id=emailBuyer name="emailBuyer" placeholder="Email" th:value="${checkoutForm.emailBuyer}" required>
							  </div>
							  <div class="form-group">
							    <label for="cpfBuyer">CPF:</label>
							    <input type="number" class="form-control" id="cpfBuyer" name="cpfBuyer" placeholder="CPF" data-minlength="11" th:value="${checkoutForm.cpfBuyer}" required>
							  </div>
							  <div class="form-group">
							    <label for="amount">TOTAL R$:</label>
							    <input type="number" class="form-control" id="amount" name="amount" placeholder="TOTAL" min="1" th:value="${checkoutForm.amount}" required>
							  </div>
					    </div>
					    
					    <div role="tabpanel" class="tab-pane" id="pagamento">
					    
				  		  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Opção de Pagamento</label>
						  <select name="paymentOption" class="custom-select" id="paymentOption" onChange="checkSeleted()">
					        <option th:each="paymentOption : ${listPaymentOption}"
					                th:value="${paymentOption.id}"
					                th:selected="${checkoutForm.paymentOptionId == paymentOption.id}"
					                th:text="${paymentOption.opcao}"/>
					      </select>

						  <div class="form-group" id="dadosCard">

							  <div class="form-group">
							  		<label for="cardForm.number">Cartão:</label>
								    <input type="number" class="form-control" id="cardForm.number" name="cardForm.number" placeholder="Número" th:text="${checkoutForm.cardForm.number}">
							  </div>
							  
							  <div class="form-group">
							    	<label for="cardForm.name">Nome Cartão:</label>
							    	<input type="text" class="form-control" id="cardForm.name" name="cardForm.name" placeholder="Nome Cartão" th:value="${checkoutForm.cardForm.name}">
							  </div>
							  
							  <div class="form-group">
							    	<label for="cardForm.expirationDate">Valido Até:</label>
							    	<input type="text" class="form-control" id="cardForm.expirationDate" name="cardForm.expirationDate" placeholder="Valido Até" th:value="${checkoutForm.cardForm.expirationDate}">
							  </div>
							  
							  <div class="form-group">
							    	<label for="cardForm.cvv">CVV:</label>
							    	<input type="number" class="form-control" id="cardForm.cvv" name="cardForm.cvv" placeholder="cvv" data-minlength="3" th:value="${checkoutForm.cardForm.cvv}">
							  </div>
						  
						  </div>
					    
					    </div>
					    
					    <div role="tabpanel" class="tab-pane" id="confirmacao">
					    	<div class="form-group" id="dadosCard">
							    <button type="submit" id="mpSbmtForm" class="btn btn-primary">Confirmar</button>
						  </div>
					    </div>
				  	</div>
				</form>
            </div>
	    </div>
	
    </div>

</div>
	
</div>


<footer>
    <div class="container">
    </div>
</footer>

<script type="text/javascript">
function checkSeleted() {
	var myselect = document.getElementById("paymentOption");
	var id = myselect.options[myselect.selectedIndex].value;
	document.getElementById("paymentOptionId").value = id;
	if(id == 3 || id == '3') {
		document.getElementById("dadosCard").style.display = 'none';
		document.getElementById("cardForm.number").value = '';
		document.getElementById("cardForm.name").value = '';
		document.getElementById("cardForm.expirationDate").value = '';
		document.getElementById("cardForm.cvv").value = '';
	} else {
		document.getElementById("dadosCard").style.display = 'block';
	}
}
$(function() {
	$("#fmCheckoutMoip").validator();
	$("#mpSbmtForm").click(function(e) {
		var validator = $("#fmCheckoutMoip").data("bs.validator");
		validator.validate();
		if (!validator.hasErrors()) {
			$("fmCheckoutMoip").submit();
		} else {
			return false;
		}
	});
});
</script>

</body>
</html>