<div class="section">

	<div class="container">

	    <div class="row well">
	    	<div class="col-lg-4 col-md-4">
                <h4>Integração Java</h4>
	            <a href="#/java">JAVA</a>
            </div>
	    	<div class="col-lg-4 col-md-4">
                <h4>Integração HTML</h4>
	            <a href="#/html">HTML</a>
            </div>
	    </div>
	
	</div>

</div>

