<div class="section">

	<div class="container">
	
	    <div class="row well">
	    
	    	<div class="col-lg-8 col-md-8">
                <h3><i class="fa fa-check-circle"></i> Simulação da Integração HTML com Checkout Moip</h3>
            </div>
	    
	    	<div class="col-lg-8 col-md-8">
	    		<form action="http://localhost:8888/CheckoutController/checkout" method="post" name="moipForm" data-toggle="validator">
	    		  <input type="hidden" name="idCliente" value="1001" />
	    		  <input type="hidden" name="urlRetorno" value="http://localhost:8080" />
				  <div class="form-group">
				    <label for="nomeBuyer">Nome Completo:</label>
				    <input type="text" class="form-control" name="nomeBuyer" id="nomeBuyer" placeholder="Nome Completo" required/>
				  </div>
				  <div class="form-group">
				    <label for="nomeBuyer">Email:</label>
				    <input type="email" class="form-control" name="emailBuyer" id="emailBuyer" placeholder="Email" required/>
				  </div>
				  <div class="form-group">
				    <label for="nomeBuyer">CPF:</label>
				    <input type="number" class="form-control" name="cpfBuyer" id="cpfBuyer" placeholder="CPF" data-minlength="11" required/>
				  </div>
				  <div class="form-group">
				    <label for="nomeBuyer">TOTAL R$:</label>
				    <input type="number" class="form-control" name="amount" id="amount" placeholder="TOTAL" min="1" required/>
				  </div>
				  <input type='image' id="mpSubmit" name='submit' src='https://desenvolvedor.moip.com.br/sandbox/imgs/buttons/bt_pagar_c02_e04.png' alt='Pagar via Moip' border='0' />
				</form>
			</div>
			
			<script>
				$(function() {
					$("#moipForm").validator();
					$("#mpSubmit").click(function(e) {
						var validator = $("#moipForm").data("bs.validator");
						validator.validate();
						if (!validator.hasErrors()) {
							$("moipForm").submit();
						} else {
							return false;
						}
					});
				});
			</script>
			
	    </div>

    </div>

</div>