<div class="section">

	<div class="container">

	    <div class="row well">
	    	<div class="col-lg-8 col-md-8">
                <h3><i class="fa fa-check-circle"></i> Simulação da Integração Java com a API e Backend Moip</h3>
            </div>
	    
	    	<div class="row well"></div>
	    
	    	<div class="col-lg-8 col-md-8">
				<button ng-click="pagamentoBoleto()">
				  Simular Pagamento Boleto
				</button>
			    <button ng-click="pagamentoCartaoCredito()">
				  Simular Pagamento Cartão Crédito
				</button>
				<button ng-click="pagamentoCartaoDebito()">
				  Simular Pagamento Cartão Débito
				</button>
            </div>
	    </div>
	    
	    <div class="row well">
	    	<div class="col-lg-8 col-md-8">
	    		<span ng-if="retornoPost.boletoResponse">Número Boleto: {{retornoPost.boletoResponse.lineCode}}<br/></span>
	    		<span ng-if="retornoPost.authorizationStatusResponse">
	    			<span ng-if="!retornoPost.boletoResponse">Pagamento com Cartão.<br/></span>
	    			Status Pagamento: {{retornoPost.authorizationStatusResponse}}
	    		</span>
	    	</div>
	    </div>

    </div>

</div>


