<div class="section">

	<div class="container">

	    <div class="row well">
	    
	    
	    	<div class="col-lg-8 col-md-8">
				<h3><i class="fa fa-check-circle"></i> Pagamento realizado com sucesso!</h3>
            </div>
	    </div>

    </div>

</div>