<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CLIENTE - INTEGRAÇÃO</a>
        </div>
    </div>
</nav>
